.signInF {
    margin-top: 7%;
}

.signInC {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(72, 78, 93, 0.0) !important;
}

.input-group-prepend, .input-group-text {
    background-color: #FFB6B6;
    color: #484E5D;
    border: 0 !important;
}

.login_btn {
    background: linear-gradient(-50deg, #00aeef, rgb(253, 209, 209), #FFB6B6);
    color: #484E5D;
	background-size: 400% 400%;
}

.login_btn:hover {
	-webkit-animation: Gradient 2.5s ease infinite;
	-moz-animation: Gradient 2.5s ease infinite;
	animation: Gradient 2.5s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.swing-in-left-bck {
    -webkit-animation: swing-in-left-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-left-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-left-bck {
    0% {
        -webkit-transform: rotateY(-70deg);
        transform: rotateY(-70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}

@keyframes swing-in-left-bck {
    0% {
        -webkit-transform: rotateY(-70deg);
        transform: rotateY(-70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}

.swing-in-right-bck {
    -webkit-animation: swing-in-right-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-right-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-right-bck {
    0% {
        -webkit-transform: rotateY(70deg);
        transform: rotateY(70deg);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 1;
    }
}

@keyframes swing-in-right-bck {
    0% {
        -webkit-transform: rotateY(70deg);
        transform: rotateY(70deg);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 1;
    }
}

/* This is the start of media queries. */
/* This media querie will keep the website the same for slightly smaller screens */
@media screen and (max-width: 980px) {

}

/* This media querie will alter the website for screens 641-768px wide. */
@media screen and (max-width: 768px) {

}

/* This media querie will alter the website for screens 640px and below. */
@media screen and (max-width: 640px) {
    .signInC {
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .signInc1 {
        margin-top: 10%;
    }
}