
.cart-badge,
.cart-badge:hover {
    /* border-radius: 20%; */
    padding: 2px;
    font-size: 14px;
    font-style: bold;
    color: black;
    /* background: grey; */
}

.navbar-brand {
    margin-left: 50px;
}
.navbar-nav {
    margin-right: 100px;
}

.nav-style {
    background-color: #e7e9fc;
    position: fixed;
    z-index: 3;
    width: 100%;
    box-shadow: 0 4px 4px -3px rgba(0,0,0,.3);
}