.btn-primary {
    background-color: #00aeef;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    border-radius: 30px;
    font-weight: 400;
}

/* .btn-primary:hover {
    background-color: #FFB6B6;
    border-color: #F3F1E7;
    color: black;
} */

.homeC {
    background: transparent;
    border: none;
}

.catHome {
    color: #F3F1E7;
}

.otherHome{
    color:#F3F1E7;
}
.dogHome{
    color:#F3F1E7;
}
.thirdHome {
    color: rgb(0, 0, 0);
}