.btn-primary {
    background-color: #484E5D;
    border-color: #F3F1E7;
}

.btn-primary:hover {
    background-color: #FFB6B6;
    border-color: #F3F1E7;
    color: black;
}

.homeC {
    background: transparent;
    border: none;
}

.catHome {
    color: #F3F1E7;
}

.otherHome{
    color:#F3F1E7;
}
.dogHome{
    color:#F3F1E7;
}
.thirdHome {
    color: rgb(0, 0, 0);
}